.about-section {
  display: flex;
  align-items: center;
  justify-content: left;
  place-items: center;
  position: relative;
  opacity: 1;
  height: auto;
  width: var(--cWidth);
  margin: auto;
}
.about-me {
  padding: 50px 0px;
  padding-bottom: 0;
  width: 500px;
  max-width: calc(100% - 15px);
}
.about-me h2 {
  font-size: 80px;
  line-height: 85px;
  font-weight: 600;
  background: linear-gradient(0deg, #0d9488, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-top: 0;
  margin-bottom: 20px;
}

.about-me h2 > span {
  font-family: "Geist", sans-serif;
  font-weight: 300;
}

.about-me ul.points {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me ul.points li {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}

.about-me ul.points li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: #0d9488;
  font-size: 24px;
  line-height: 30px;
}

@media only screen and (min-width: 600px) {
  .about-section {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .about-me {
    width: 500px;
    max-width: calc(100% - 70px);
    transform: translateY(0%);
  }
  .about-section {
    opacity: 1;
  }
}
@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    justify-content: right;
    max-width: 1920px;
    height: var(--vh);
    padding: 0px;
    opacity: 1;
  }
  .about-me {
    padding: 0px;
    width: 50%;
  }
  .about-me ul.points li {
    font-size: 1.4vw;
    line-height: 1.8vw;
    padding-left: 2vw;
    margin-bottom: 1vw;
  }
  .about-me ul.points li::before {
    font-size: 1.6vw;
    line-height: 1.8vw;
  }
}
@media only screen and (min-width: 1950px) {
  .about-me ul.points li {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .about-me ul.points li::before {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
